* {
}

a {
	color: rgb(244, 244, 244);/*rgb(51, 153, 255);*/
	font-weight: 700;
}

#title, #logo, p, .login, .login p, .commentavatar, .navpath, #footer {
	background: rgb(210, 82, 69);
}

#logo {
	background-image: url("/Images/RA_Logo10.png");
}

#rightcontainer {
	background: rgb(222, 222, 222);
	border-radius:inherit;
	border:1px grey dashed;
}

#leftcontainer {
	background: rgb(222, 222, 222);
	border-radius:inherit;
	border:1px grey dashed;
	margin: 5px 350px 5px 0px;/* 350 is 300 width, plus 2*20 padding, plus 2*2 border, plus 6 spacing */
}

p {
	background: rgba(180,180,180,1);
	border-radius: 4px;
	border: 0px solid grey;
}

th {
	color: rgb(40, 40, 40);
}

tr:nth-child(odd) {
	background-color: rgb(200, 200, 200);
}

#carouselcontainer {
	background-color: rgb(200, 200, 200);
}

body {
	font-weight: light;
	color: rgb(66, 66, 66);
	width: auto;
	text-align: left;
	letter-spacing: 0px;
	line-height: 1.3em;
	background: rgb(115, 39, 31);
	font-family: 'Open Sans', arial, sans-serif;
}

h1, h2, h3, h4 {
	margin: 10px 0px; 
	padding: 0px 0px 3px;
	border-bottom-color: rgb(0,0,0);
	border-bottom-style: solid; 
	border-bottom-width: 0px;
	/*font-weight: bold;*/
	line-height: 1.25em;
    font-size: 2.0em;
	background-repeat: no-repeat;
}
	
h4 { 
	font-size: 1.5em; 
	border-bottom-width:0px 
}

.component {
	margin: 0px 0px 40px 0px;
	padding: 0px 0px 20px 0px;
	overflow: hidden;
	border-bottom-color: rgb(170,170,170);
	border-bottom-style: dashed; 
	border-bottom-width: 2px;
}

.navpath {
	line-height: 100%;
	font-size: 12px;
	background-color: #000000;
	padding: 6px 10px 10px;
	border-radius: 8px;
	height: 0.7em;
	margin-top: 4px;
	margin-bottom: 4px;
	clear: both;
	color: rgb(180, 180, 180);
}

/* Remove visited link col from navpath */
.navpath a { 
	color: #cc9900;
}

.navpath a:visited { 
	color: #cc9900;
	margin-bottom: 0px; 
	text-decoration: none; /* Removes underline from links */
}

.navpath a:hover { 
	color: #eeeeff; 
	margin-bottom: 0px; 
	text-decoration: none; /* Removes underline from links */
}
