/bootstrap/ssr
/database/*.sql
/docker/nginx/logs
/docs/dist
/node_modules
/public/build
/public/hot
/public/Badge
/public/Images
/public/UserPic
/public/assets/build
/public/bin
/public/docs
/public/media
/public/storage
/public/vendor/filament
/public/tmp
# TODO replace LatestIntegration.html with integration release management and V2 connect API
/public/Latest*
/public/.well-known
/reports
/storage/*.key
/storage/backup
/storage/media-library
/vendor
/tmp
/.fleet
/.idea
/.project
/.settings
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
auth.json
nbproject
npm-debug.log
yarn-error.log
._*
.~lock.*
.buildpath
.DS_Store
/.env*
.deptrac.cache
.eslintcache
.phpstorm.meta.php
.phpunit.cache
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
