/lib/database/releases.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/version
/vendor
/tmp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env*
nbproject
._*
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
.php_cs.cache
.php-cs-fixer.cache
test*.php
/public/Badge
/public/Images
/public/UserPic
/public/bin
/public/Latest*
/public/*Iter.txt
/public/*.dll
/public/Bing*
/public/google*
/public/tmp

/resources/docker/nginx/logs/*

cronjobs/playersonline.log
cronjobs/cronlog.log
cghooks.lock

