parameters:
	ignoreErrors:
		-
			message: '#^Parameter &\$permissionOut @param\-out type of function authenticateFromAppToken\(\) expects int\|null, Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> given\.$#'
			identifier: paramOut.type
			count: 1
			path: app/Helpers/database/user-auth.php

		-
			message: '#^Function sanitize_sql_inputs\(\) never assigns int to &\$inputs so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: app/Helpers/util/database.php

		-
			message: '#^Function sanitize_sql_inputs\(\) never assigns null to &\$inputs so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: app/Helpers/util/database.php

		-
			message: '#^Function sanitize_sql_inputs\(\) never assigns string to &\$inputs so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: app/Helpers/util/database.php

		-
			message: '#^Function sanitize_outputs\(\) never assigns int to &\$outputs so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: app/Helpers/util/string.php

		-
			message: '#^Function sanitize_outputs\(\) never assigns null to &\$outputs so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: app/Helpers/util/string.php

		-
			message: '#^Function sanitize_outputs\(\) never assigns string to &\$outputs so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: app/Helpers/util/string.php

		-
			message: '#^Unable to resolve the template type TMapWithKeysKey in call to method Illuminate\\Support\\Collection\:\:mapWithKeys\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Http/Controllers/DownloadsController.php

		-
			message: '#^Method App\\Models\\Achievement\:\:trigger\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphOne\<App\\Models\\Trigger, App\\Models\\Achievement\> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphOne\<App\\Models\\Trigger, \$this\(App\\Models\\Achievement\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Achievement.php

		-
			message: '#^Method App\\Models\\Achievement\:\:triggers\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Trigger, App\\Models\\Achievement\> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Trigger, \$this\(App\\Models\\Achievement\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Achievement.php

		-
			message: '#^Parameter \#1 \$class of method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\User,\$this\(App\\Models\\Achievement\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Relations\\Pivot\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Achievement.php

		-
			message: '#^Unable to resolve the template type TNewPivotModel in call to method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\User,\$this\(App\\Models\\Achievement\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Models/Achievement.php

		-
			message: '#^Method App\\Models\\Badge\:\:badgeable\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphTo\<Illuminate\\Database\\Eloquent\\Model, App\\Models\\Badge\> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphTo\<Illuminate\\Database\\Eloquent\\Model, \$this\(App\\Models\\Badge\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Badge.php

		-
			message: '#^Method App\\Models\\Comment\:\:commentable\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphTo\<Illuminate\\Database\\Eloquent\\Model, App\\Models\\Comment\> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphTo\<Illuminate\\Database\\Eloquent\\Model, \$this\(App\\Models\\Comment\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Comment.php

		-
			message: '#^Parameter \#1 \$class of method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\Platform,\$this\(App\\Models\\Emulator\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Relations\\Pivot\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Emulator.php

		-
			message: '#^Parameter \#1 \$class of method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\System,\$this\(App\\Models\\Emulator\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Relations\\Pivot\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Emulator.php

		-
			message: '#^Unable to resolve the template type TNewPivotModel in call to method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\Platform,\$this\(App\\Models\\Emulator\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Models/Emulator.php

		-
			message: '#^Unable to resolve the template type TNewPivotModel in call to method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\System,\$this\(App\\Models\\Emulator\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Models/Emulator.php

		-
			message: '#^Method App\\Models\\Event\:\:hubs\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\GameSet, \$this\(App\\Models\\Event\), Illuminate\\Database\\Eloquent\\Relations\\Pivot, ''pivot''\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\GameSet, App\\Models\\Game, Illuminate\\Database\\Eloquent\\Relations\\Pivot, ''pivot''\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Event.php

		-
			message: '#^Parameter \#1 \$class of method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\User,\$this\(App\\Models\\EventAward\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Relations\\Pivot\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/EventAward.php

		-
			message: '#^Unable to resolve the template type TNewPivotModel in call to method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\User,\$this\(App\\Models\\EventAward\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Models/EventAward.php

		-
			message: '#^Method App\\Models\\Game\:\:similarGamesList\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\Game, \$this\(App\\Models\\Game\), Illuminate\\Database\\Eloquent\\Relations\\Pivot, ''pivot''\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\Game, App\\Models\\GameSet, Illuminate\\Database\\Eloquent\\Relations\\Pivot, ''pivot''\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Game.php

		-
			message: '#^Method App\\Models\\Game\:\:trigger\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphOne\<App\\Models\\Trigger, App\\Models\\Game\> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphOne\<App\\Models\\Trigger, \$this\(App\\Models\\Game\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Game.php

		-
			message: '#^Method App\\Models\\Game\:\:triggers\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Trigger, App\\Models\\Game\> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Trigger, \$this\(App\\Models\\Game\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Game.php

		-
			message: '#^Parameter \#1 \$class of method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\User,\$this\(App\\Models\\Game\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Relations\\Pivot\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Game.php

		-
			message: '#^Unable to resolve the template type TNewPivotModel in call to method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\User,\$this\(App\\Models\\Game\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Models/Game.php

		-
			message: '#^Parameter \#1 \$class of method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\GameHashSet,\$this\(App\\Models\\GameHash\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Relations\\Pivot\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/GameHash.php

		-
			message: '#^Unable to resolve the template type TNewPivotModel in call to method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\GameHashSet,\$this\(App\\Models\\GameHash\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Models/GameHash.php

		-
			message: '#^Parameter \#1 \$class of method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\GameHash,\$this\(App\\Models\\GameHashSet\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Relations\\Pivot\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/GameHashSet.php

		-
			message: '#^Unable to resolve the template type TNewPivotModel in call to method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\GameHash,\$this\(App\\Models\\GameHashSet\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Models/GameHashSet.php

		-
			message: '#^Method App\\Models\\Leaderboard\:\:trigger\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphOne\<App\\Models\\Trigger, App\\Models\\Leaderboard\> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphOne\<App\\Models\\Trigger, \$this\(App\\Models\\Leaderboard\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Leaderboard.php

		-
			message: '#^Method App\\Models\\Leaderboard\:\:triggers\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Trigger, App\\Models\\Leaderboard\> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Trigger, \$this\(App\\Models\\Leaderboard\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Leaderboard.php

		-
			message: '#^Parameter \#1 \$class of method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\Emulator,\$this\(App\\Models\\Platform\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Relations\\Pivot\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Platform.php

		-
			message: '#^Unable to resolve the template type TNewPivotModel in call to method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\Emulator,\$this\(App\\Models\\Platform\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Models/Platform.php

		-
			message: '#^Parameter \#1 \$class of method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\Emulator,\$this\(App\\Models\\System\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Relations\\Pivot\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/System.php

		-
			message: '#^Unable to resolve the template type TNewPivotModel in call to method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\Emulator,\$this\(App\\Models\\System\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Models/System.php

		-
			message: '#^Method App\\Models\\Trigger\:\:triggerable\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphTo\<Illuminate\\Database\\Eloquent\\Model, App\\Models\\Trigger\> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphTo\<Illuminate\\Database\\Eloquent\\Model, \$this\(App\\Models\\Trigger\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Trigger.php

		-
			message: '#^Method App\\Models\\User\:\:whereName\(\) should return Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\User\> but returns Illuminate\\Database\\Eloquent\\Builder\<static\(App\\Models\\User\)\>\.$#'
			identifier: return.type
			count: 2
			path: app/Models/User.php

		-
			message: '#^Parameter \#1 \$class of method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\Achievement,\$this\(App\\Models\\User\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Relations\\Pivot\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Parameter \#1 \$class of method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\Game,\$this\(App\\Models\\User\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Relations\\Pivot\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Unable to resolve the template type TNewPivotModel in call to method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\Achievement,\$this\(App\\Models\\User\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Models/User.php

		-
			message: '#^Unable to resolve the template type TNewPivotModel in call to method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\Game,\$this\(App\\Models\\User\),Illuminate\\Database\\Eloquent\\Relations\\Pivot,string\>\:\:using\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc tag @var for variable \$entries contains generic class Illuminate\\Pagination\\LengthAwarePaginator but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/Platform/Actions/BuildGameListAction.php

		-
			message: '#^Parameter \#2 \$syncData of method App\\Platform\\Actions\\UpsertGameCoreAchievementSetFromLegacyFlagsAction\:\:syncAchievementSetAchievements\(\) expects Illuminate\\Support\\Collection\<int, array\{created_at\: Carbon\\Carbon\|string, updated_at\: Carbon\\Carbon\|string, order_column\: int\}\>, Illuminate\\Support\\Collection\<int, array\{created_at\: mixed, updated_at\: mixed, order_column\: mixed\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Platform/Actions/UpsertGameCoreAchievementSetFromLegacyFlagsAction.php
