includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        # - app
        - app_legacy
        - public
        # - tests
    # TODO v2 was at level 6
    level: 5
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    # TODO figure out why github actions phpstan does not find the same
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Unsafe usage of new static#'
        # accessors to polymorphic relationships
        - '#Access to an undefined property [a-zA-Z0-9\&\\_]+::\$[trigger|subject]#'
        - '#Access to an undefined property LegacyApp\\Site\\Models\\.*#'
        # Builder::exists() is not private
        #- '#Call to private method exists\(\) of parent class Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>.#'
        - '#Parameter (.*) of function htmlentities expects#'
        # TODO views have been removed
        - '#Parameter (.*) $view of function view expects view-string|null, string given.#'
        # lib/database/user-activity.php
        - '#Offset (.*) does not exist on#'
    excludePaths:
        # unrelated directories
        - public/storage
        - public/tmp
        # disabled features
        - public/API/API_GetFeed.php
        - public/awardedList.php
        - public/feed.php
        - public/popularGames.php
        - public/rss-activity.xml.php
        # third party
        - app_legacy/Helpers/util/recaptcha.php
