<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" timeoutForSmallTests="1" timeoutForMediumTests="10" timeoutForLargeTests="60" verbose="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">./public</directory>
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./lib</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="application test suite">
            <directory>./tests/src</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
