<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <coverage>
        <include>
            <directory suffix=".php">./public</directory>
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./lib</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="application test suite">
            <directory>./tests/src</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
