* {
}

a {
	color: rgb(255, 12, 0);/*rgb(51, 153, 255);*/
}

#title, #logo, p, .login, .login p, .commentavatar, .navpath, #footer {
	background: rgb(222, 222, 222);
}

#logo {
	background-image: url("/Images/RA_Logo10.png");
}

#rightcontainer {
	background: rgb(248, 248, 248);
}

#leftcontainer {
	background: rgb(248, 248, 248);
}

p {
	background: rgb(222, 222, 222);
}

th {
	color: rgb(40, 40, 40);
}

#feed tr.feed_login {
	background: rgb(222, 222, 222);
}

tr:nth-child(odd) {
	background-color: rgb(200, 200, 200);
}

#carouselcontainer {
	background-color: rgb(200, 200, 200);
}

body {
	font-weight: light;
	color: rgb(66, 66, 66);
	width: auto;
	text-align: left;
	letter-spacing: 0px; 
	line-height: 1.3em;
	
	background: rgb(248, 248, 248);
	font-family: 'Rosario', arial, sans-serif;
}
