body {
  color: rgb(24, 212, 16);
}

a {
  color: rgb(12, 255, 12);
}

.text-link {
  color: rgb(12, 255, 12);
}

.tab {
  color: rgb(12, 255, 12);
}

.tab button{
  color: rgb(12, 255, 12);
  border: 1px solid rgb(12, 255, 12);
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}

.tabcontentfriendstab  {
  border: 1px solid rgb(12, 255, 12);
}

.tabcontentglobaltab  {
  border: 1px solid rgb(12, 255, 12);
}

.tabcontentscores  {
  border: 1px solid rgb(12, 255, 12);
}
