body {
  font-weight: light;
  color: rgb(212, 0, 12);
  width: auto;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.3em;
}

a {
  color: rgb(255, 12, 0);
}

.tab {
  color: rgb(255, 12, 0);
}

.tab button{
  color: rgb(255, 12, 0);
  border: 1px solid rgb(255, 12, 0);
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}

.tabcontentfriendstab  {
  border: 1px solid rgb(255, 12, 0);
}

.tabcontentglobaltab  {
  border: 1px solid rgb(255, 12, 0);
}
