body {
  font-weight: light;
  color: rgb(66, 66, 66);
  width: auto;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.3em;
  background: rgb(248, 248, 248);
}

a {
  color: rgb(255, 12, 0);
}

.text-link {
  color: rgb(255, 12, 0);
}

p, .login, .login p, .commentavatar, .navpath, #footer {
  background: rgb(222, 222, 222);
}

#fullcontainer, #rightcontainer, #leftcontainer {
  background: rgb(248, 248, 248);
}

th {
  color: rgb(40, 40, 40);
}

#feed tr.feed_login {
  background: rgb(222, 222, 222);
}

tr:nth-child(odd) {
  background-color: rgb(222, 222, 222);
}

#carouselcontainer {
  background-color: rgb(200, 200, 200);
}

.tab {
  color: rgb(255, 12, 0);
}

.tab button{
  color: rgb(255, 12, 0);
  background-color: rgb(200, 200, 200);
  border: 1px solid rgb(255, 12, 0);
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}

.tab button:hover{
  color: rgb(255, 12, 0);
  background-color: rgb(222, 222, 222);
}

.tab button.active{
  color: rgb(255, 12, 0);
  background-color: rgb(222, 222, 222);
}

.tabcontentfriendstab  {
  border: 1px solid rgb(66, 66, 66);
}

.tabcontentglobaltab  {
  border: 1px solid rgb(66, 66, 66);
}

.tabcontentscores  {
  border: 1px solid rgb(66, 66, 66);
}
