html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1em;
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

/* CORE COMPONENTS */

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: small;
  font-weight: normal;
  color: var(--text-color);
  width: auto;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.3em;
  background: var(--bg-color)
}

.embedded {
  padding: 6px 10px;
  border-radius: 4px;
  background: var(--embed-color);
  line-height: 1.4em;
}

textarea, input, select {
  padding: 0.4em 0.6em;
  margin: 0;
  border: 1px solid var(--text-color-muted);
  border-radius: 4px;
  background: var(--embed-color);
  color: var(--menu-link-color);
  font-size: 13px;
}

input, select {
  line-height: 1em;
}

input[readonly] {
  color: var(--text-color-muted);
}

input[disabled] {
  color: var(--text-color-muted);
}

input, optgroup, select, textarea {
  /*background: white;*/
  /*color: black;*/
}

h1, h2, h3, h4 {
  margin-bottom: 10px;
  padding: 0 0 3px;
  color: var(--heading-color);
  /*font-weight: bold;*/
  line-height: 1.25em;
  background-repeat: no-repeat;
}

#mainpage h1, #mainpage h2, #mainpage h3 {
  border-bottom: 1px solid var(--heading-color);
}

h1, h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
  border-bottom-width: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a img {
  border: 0;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

.text-link {
  color: var(--link-color);
  text-decoration: none;
}

.text-link:hover {
  color: var(--link-hover-color);
}

#fullcontainer, article {
  padding: 15px 20px;
  margin-bottom: 10px;
  border: 2px solid var(--embed-color);
  border-radius: 4px;
  align-self: start;
  grid-column: span 2;
  flex-grow: 1;

  background: var(--box-bg-color);
  background: linear-gradient(180deg, var(--box-bg-color) 0%, var(--bg-color) 100%);
}

#leftcontainer {
  padding: 15px 20px;
  margin-bottom: 10px;
  display: block;
  border: 2px solid var(--embed-color);
  border-radius: 4px;
  align-self: start;
  flex-grow: 1;

  background: var(--box-bg-color);
  background: linear-gradient(180deg, var(--box-bg-color) 0%, var(--bg-color) 100%);
}

#rightcontainer, aside {
  padding: 15px 20px;
  margin-bottom: 10px;
  border: 2px solid var(--embed-color);
  border-radius: 4px;
  align-self: start;
  max-width: 340px;
  min-width: 340px;
  margin-left: 1rem;

  background: var(--box-bg-color);
  background: linear-gradient(0deg, var(--box-bg-color) 0%, var(--bg-color) 100%);
}

/* --------------- */
/* CORE COMPONENTS */
/* --------------- */

.login {
  border-radius: 4px;
  background-color: var(--embed-color);
  width: 340px;
}

.logintable table {
  width: 20%;
  border-spacing: 2px;
}

.loginfieldscell {
  width: 100px;
}

.loginbuttoncell {
  width: 100px;
}

.component {
  overflow: hidden;
  margin-bottom: 1em;
}

#activeplayersbox {
  min-height: 25.0em;
  height: 25.0em;
  max-height: 25.0em;
  overflow-y: auto;
}

#usercompletedgamescomponent {
  max-height: 30.0em;
  overflow-y: auto;
}

#devstatsscrollpane {
  max-height: 25.0em;
  overflow-y: auto;
}

span.news {
  padding: 6px 10px 10px;
  /*border-radius: 8px; */
  /*background-color: rgb(22,22,22);*/
  text-align: justify;
  line-height: 1.35em;
  font-size: small;
  display: block;
}

.rightfloat {
  float: right;
}

.newsimage {
  float: right;
  /*display: block;*/
  padding-left: 10px;
}

.newsauthor {
  float: right;
  display: block;
  clear: both;
  text-align: right;
}

.newstext {
  /*color: #59f;*/
  color: rgb(238, 238, 255);
}

.shadowoutline {
  text-shadow: 2px 2px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000;
}

td, tr, img {
  vertical-align: middle;
}

#mainpage {
  padding: 0;
  position: relative;
  min-height: 450px;
  display: flex;
}

#mainpage > .both {
  grid-column: span 2;
}

.videocontainer {
  width: 300px;
  margin: auto;
}

.progressbar {
  height: 6px;
  width: 124px;
  font-size: 0.9em;
  background-color: rgb(32, 32, 32);
  border: 0 solid rgb(12, 12, 12);
  float: right;
  text-align: center;
}

.completion {
  height: 6px;
  width: inherit;
  background-color: rgb(11, 113, 193);
}

.completionhardcore {
  height: 6px;
  width: inherit;
  background-color: rgb(204, 153, 0);
  border-top: 0 solid;
}

.progressbar.allusers {
  height: 4px;
  width: 160px;
  font-size: smaller;
  line-height: 1.2em;
  float: right;
  margin-right: 6px;
  margin-top: 3em;
}

.completion.allusers {
  height: 4px;
  width: inherit;
  background-color: rgb(11, 113, 193);
}

.completionhardcore.allusers {
  height: 4px;
  width: inherit;
}

.progressbar.completedgames {
  width: 104px;
}

.gamescreenshots td {
  text-align: center;
  padding: 4px;
}

#status {
  background: rgb(37, 99, 235);
}

#status.success {
  background: rgb(22 163 74);
}

#status.failure {
  background: rgb(220, 38, 38);
}

footer {
  background: var(--embed-color);
  padding: 25px 15px;
  color: var(--text-color-muted);
  font-size: 12px;
  line-height: 1.6;
  margin: 0 auto;
  clear: both;
  box-sizing: border-box;
}

footer a {
  color: var(--menu-link-color);
}
footer a:hover, footer a:active {
  color: var(--menu-link-hover-color);
}

.feed_login {
  color: #666666;
}

.feed_won {
  color: #993311;
}

.feed_won a {
  color: #CC8800;
}

.feed_won a:hover {
  color: #FFCC00;
}

.feed_won_hc {
  color: #EE3322;
}

.feed_won_hc a {
  color: #DDAA00;
}

.feed_won_hc a:hover {
  color: #FFFF00;
}

.feed_dev1 {
  color: #00FF00;
}

.feed_dev1 a {
  color: #00CC66;
}

.feed_dev1 a:hover {
  color: #66EEFF;
}

.feed_dev2 {
  color: #009900;
}

.feed_dev2 a {
  color: #00AA66;
}

.feed_dev2 a:hover {
  color: #44CCDD;
}

.feed_startplay {
  color: #8844DD;
}

.feed_startplay a {
  color: #C077FF;
}

.feed_startplay a:hover {
  color: #CC5588;
}

.feed_comment {
  color: #009900;
}

.feed_completegame {
  color: #EEEEEE;
}

.feed_completegame a {
  color: #77AAEE;
}

.feed_completegame a:hover {
  color: #00EEFF;
}

#feed tr.feed_login {
  background-color: #202020;
}

#feed tr.feed_won {
  background-color: #400000;
}

#feed tr.feed_won_hc {
  background-color: #500000;
}

#feed tr.feed_startplay {
  background-color: #331144;
}

#feed tr.feed_dev1 {
  background-color: #112244;
}

#feed tr.feed_dev2 {
  background-color: #111530;
}

#feed tr.feed_comment {
  background-color: var(--embed-color);
}

#feed tr.feed_comment.system {
  color: var(--text-color-muted);
  font-size: 9px;
}

#feed tr.feed_completegame {
  background-color: #003366;
}

#feed tr.feed_submitrecord {
  background-color: #001F00;
  color: #259900;
}

#feed tr.feed_submitrecord a {
  color: #88CC00;
}

#feed tr.feed_submitrecord a:hover {
  color: #DDDD00;
}

#feed tr.feed_updaterecord {
  background-color: #001F00;
  color: #259900;
}

#feed tr.feed_updaterecord a {
  color: #88CC00;
}

#feed tr.feed_updaterecord a:hover {
  color: #DDDD00;
}

.feeditem {
  width: 99%;
}

#feed table {
}

#feed td {
  vertical-align: middle;
  word-break: break-word;
}

#feed td.date {
}

#feed td.datepadded {
}

#feed td.icons {
  width: 80px;
  padding: 2px;
}

#feed td.icons img {
  float: right;
}

#feed td.iconscomment {
  padding: 2px;
}

#feed td.iconscommentsingle {
  padding: 2px;
  vertical-align: top;
}

#feed td.iconscomment img {
  float: right;
}

#feed td.iconscommentsingle img {
  float: right;
}

/*---------------------------------------------------------------*/
/* FORUM */
/*---------------------------------------------------------------*/
#forums {
  font-size: small;
  line-height: 1.2em;
  max-width: 100vw;
}

#forums td.forum {
  width: 70%;
}

#forums td.lastpost {
  width: 20%;
}

#forums div.lastpost {
  overflow: hidden;
  width: 105px;
}

#forums div.author {
  overflow: hidden;
  width: 120px;
}

#forums div.rightlink {
  text-align: right;
}

.highlight {
  outline: 2px solid;
}

#topicpreview {
}

.navpath {
  line-height: 100%;
  font-size: 12px;
  background-color: var(--embed-color);
  padding: 6px 10px;
  border-radius: 2px;
  margin-bottom: 8px;
  clear: both;
}

#innermenu {
  position: relative;
  font-size: x-small;
  margin: auto;
  /*overflow:hidden; this breaks the dropdown! :S*/
  border-radius: 4px;
}

#innermenu li.divider {
  border-bottom: 1px solid #999;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#innermenu > ul > li > a {
  display: block;
  text-decoration: none;
  color: var(--menu-link-color);
  font-size: 1.2em;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-bottom: 0;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

#innermenu > ul {
  background-color: var(--embed-color);
  padding: 0 0 0 1em;
  margin: 0;
  list-style: none;
}

#innermenu > ul > li {
  float: left;
  position: relative;
  height: 22px;
  line-height: 20px;
}

#innermenu > ul > li {
  height: 42px; /* Only for main menu elements for mobile to make tap space */
}

#innermenu > ul > li > div {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  margin: 0;
}

#innermenu > ul > li > div > ul > li:last-child {
  margin-bottom: 4px;
}

#innermenu > ul > li:hover > a {
  color: #000;
  background-color: #bebebe;
}

#innermenu > ul > li:hover > div {
  background-color: #bebebe;
}

@media all and (max-width: 549px) {
  #innermenu > ul > li:hover > div {
    display: block;
  }
}

@media all and (min-width: 550px) {
  #innermenu > ul > li:hover > div {
    display: flex;
  }
}

#innermenu > ul > li:hover > div > ul {
  margin: 0;
  padding: 0;
}

#innermenu > ul > li:hover > div > ul:not(:last-child) {
  border-right: 1px solid #888;
}

#innermenu > ul > li:hover > div > ul > li > a.hassub {
  color: #fff;
}

#innermenu > ul > li:hover > div > ul > li:hover > a.hassub {
  color: #fff;
  font-style: italic;
}

#innermenu > ul > li:hover > div > ul > li > ul {
  display: none;
}

#innermenu > ul > li > a > img {
  position: relative;
  top: 4px;
  left: 2px
}

#innermenu > ul > li:hover > div > ul > li > a,
#innermenu > ul > li:hover > div > ul > li button {
  display: block;
  color: #000;
  line-height: 1.4em;
  width: 150px;
  text-align: left;
  margin: 0;
  padding: 4px 12px;
  border: none;
  border-radius: 0;
  font-size: 10px;
}

#innermenu > ul > li:hover > div > ul {
  padding: 0;
}

#innermenu > ul > li:hover > a.nosub {
}

#innermenu > ul > li:hover > a {
  position: relative;
}

#innermenu > ul > li:hover > div > ul > .selected {
  margin-right: 1px;
}

#innermenu > ul > li:hover > div > ul > li > a:hover,
#innermenu > ul > li:hover > div > ul > li button:hover{
  color: #fff;
  background: #333;
}

#innermenu > ul > li:hover > div > ul > li:hover > ul {
  display: block;
  position: absolute;
  left: 105px;
  top: 0;
}

.dropdown-header {
  padding: 0 12px;
  text-align: center;
  color: #888;
}

.searchbox {
  float: right;
  padding: 10px;
}

.searchbox.longer {
  width: 100%;
  float: inherit;
}

#searchboxinput .longer {
  width: 80%;
}

.searchbox-top {
  background-color: var(--embed-color);
  border-radius: 4px;
  width: 340px;
}

.searchbox-top .searchboxinput {
  border: none;
  padding: 10px 10px 10px 20px;
  background-color: transparent;
  vertical-align: top;
  color: inherit;
}

.searchbox-top input[type="submit"] {
  border: none;
  background-color: transparent;
  color: #FFF;
  padding: 5px 15px;
  height: 42px;
  font-size: 16px;
}

#feedcontainer {
  height: 220px;
  /*width: 300px;*/
  overflow-x: hidden;
  overflow-y: auto;
  vertical-align: middle;
}

.feedcell {
  vertical-align: middle;
}

.feedcelldate {
  font-size: x-small;
  color: rgb(140, 140, 140);
}

.feedcellmessage {
  vertical-align: middle;
  /*color: rgb( 76, 146, 235 );*/
  /*color: rgb( 165, 242, 243 );*/
  overflow: hidden;
  max-width: 200px;
}

*.bb_inline {
  display: inline;
}

.TrueRatio {
  color: rgb(210, 210, 210);
  font-size: 90%;
}

.sortbyselector {
  padding: 1em 0em;
}

.achievemententryicon {
  float: left;
  padding: 0 4px;
}

@media only screen and (max-width: 1023px) {
  .searchbox-top {
    border-left: none;
    border-top: 15px solid var(--bg-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

/* Table properties */

table {
  width: 100%;
}

tbody tr:nth-child(odd) {
  background-color: rgba(50, 50, 50, .2);
}

[data-scheme="light"] tbody tr:nth-child(odd) {
  background-color: rgba(80, 80, 80, .09);
}

td {
  padding: 4px 8px;
}

th {
  padding: 8px 8px;
  /*background-color: #323232;*/
  /*font-size: 120%;*/
  /*background-image: -webkit-linear-gradient(left, var(--bg-color), #323232);*/
  /*font-style: italic;*/
  /*text-transform: uppercase;*/
  color: var(--menu-link-color);
  margin-bottom: 5px;
  text-align: left;
  /*border-right: 2px solid var(--bg-color);*/
}

.clickablebutton, .buttoncollection {
  border-radius: 4px;
  background: var(--embed-color);
  display: inline-block;
  line-height: 1em;
  padding: .4em .6em;
  cursor: pointer;
}

.buttoncollection {
  margin-top: 4px;
  margin-bottom: 4px;
}

.clickablebutton a {
  display: block;
  text-decoration: none;
  /* padding: 0 8px; */
}

.mottocontainer {
  padding: 8px 0;
}

.usermotto {
  border-radius: 6px;
  background: rgb(245, 245, 245);
  color: rgb(20, 20, 20);
  font-style: italic;
  padding: 4px 8px;
  display: inline-block;
}

/* Comparison page */
.awardremote {
  vertical-align: middle;
}

.comparecenter {
  max-width: 250px;
}

.awardlocal {
  vertical-align: middle;
}

/* Forum */

.comment-textarea {
  padding: 4px;
  flex-grow: 1;
}

.comment-textarea::placeholder {
  font-size: 1.1em;
}

.commentpayload {
  padding: 8px 8px 16px;
  vertical-align: top;
  word-break: break-word;
  width: 100%;
}

.comment-submit-button {
  background: none;
  border: 1px solid transparent;
}

.comment-loading-indicator {
  display: none;
  padding: 6px;
}

.form-error {
  color: rgb(222, 0, 0);
  display: none;
}

.smalltext {
  font-size: x-small;
  color: rgb(140, 140, 140);
  line-height: 1.05em;
}

.smalldate {
  font-size: x-small;
  color: rgb(140, 140, 140);
  line-height: 1.1em;
  width: 75px;
  white-space: nowrap;
}

span.smalldate {
  display: inline-block;
}

#objtooltip, #objtooltip.td, .fixedtooltipcolleft, .fixedtooltipcolright {
  background: white;
}

/* Usercard */
.usercard {
  background: white;
  color: black;
}

.usercardavatar {
  background: white;
  width: 128px;
  height: 128px;
}

.usercardusername {
  background: white;
  color: black;
  font-size: 150%;
  text-align: left;
  font-weight: bold;
}

.usercardaccounttype {
  background: white;
  color: black;
  font-size: 125%;
  text-align: right;
  text-decoration: underline;
}

.usercardbasictext {
  background: white;
  color: black;
  text-align: left;
}

.devbox {
  padding: 4px 0;
  /* for rendering spoilers within shortcode */
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.devbox span {
  border-bottom: 1px dashed;
  cursor: pointer;
}

.devbox > div, .codetags {
  border-style: solid;
  border-width: 1px;
  padding: 8px 12px;
  /*
  for rendering code tag within shortcode
  and making sure that trailing submit buttons in devboxes do not overflow when floating on the right
  */
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.devbox > .spoiler {
  display: none;
  border-style: dashed;
  margin-top: 0;
}

.leftfloat {
  float: left;
}

.rightfloat {
  float: right;
}

.rightalign {
  /* text-align: right; */
  float: right;
}

.fullwidth {
  width: 100%;
}

b, strong {
  font-weight: bold;
  /*font-size: 1.3em;*/
}

i {
  font-style: italic;
}

pre, code, .code {
  font-family: monospace;
  font-size: medium;
  word-break: break-word;
  white-space: pre-wrap;
}

.awardcount {
  float: right;
  font-size: 0.65em;
  cursor: help;
}

.awardcount > * {
  vertical-align: middle;
}

.awardcount > .icon {
  text-align: center;
  color: rgb(210, 210, 210);
  margin-right: 4px;
}

.component#siteawards .awardcount > .icon {
  width: 22px;
}

.component:not(#siteawards) .awardcount > .icon {
  width: 25px;
  font-size: 0.65em;
}

.badgeimg {
  border: 2px solid transparent;
  padding: 0;
  box-sizing: content-box;
}

td .badgeimg {
  max-width: inherit;
}

.badgeimglarge {
  border: 2px solid transparent;
  padding: 0;
}

.goldimage {
  border: 2px solid gold;
  padding: 0;
}

.goldimagebig {
  border: 2px solid gold;
  padding: 0;
}

.injectinlineimage {
  max-width: 100%;
  max-height: 300px;
}

#WzBoDy {
  /* Popup */
  border-radius: 10px;
}

#WzBoDy tr {
  background: none;
}

#carouselpages {
  width: 240px;
}

/* Inbox */
.message-unread {
  font-weight: bold;
}

.recentforumposts td {
  overflow: hidden;
  word-wrap: break-word;
}

.forumtitle, .topictitle {
  max-width: 7em;
  word-wrap: break-word;
}

.commentavatar {
  vertical-align: top;
}

.topiccommentsheader {
  border-bottom: solid 4px var(--bg-color);
}

small {
  font-size: x-small;
}

span.hardcore {
  color: rgb(222, 0, 0);
}

span.softcore {
  color: rgb(140, 140, 140);
}

.pointer {
  cursor: pointer;
}

div.rating {
  cursor: pointer;
  display: block;
  float: left;
  clear: left;
}

div.rating a {
  background: url('/assets/images/icon/star-empty.png') no-repeat 0 0;
  width: 32px;
  height: 32px;
  display: block;
  background-position: 0 0;
  float: left;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
}

div.rating a.starhalf {
  background: url('/assets/images/icon/star-half.png') no-repeat 0 0;
}

div.rating a.starlit {
  background: url('/assets/images/icon/star-full.png') no-repeat 0 0;
}


a.setRequestLabel {
  cursor: pointer;
}

/*.patron {*/
/*    text-align: center;*/
/*    height: 37px;*/
/*    max-height: 37px;*/
/*}*/

/* bootstrap 4 polyfills */

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* --- MOBILE STYLES --- */
@media only screen and (max-width: 1023px) {
  #mainpage {
    display: block;
  }

  .topiccommenttext {
    max-width: 21em;
    word-wrap: break-word;
    font-size: small;
  }

  .gamescreenshots td {
    display: inline-block;
  }

  #forums div.lastpost {
    width: auto;
  }

  .topiccommentsheader th, .commentavatar, .commentpayload, .table-wrapper .fullwidth, .table-forum-history th, .table-forum-history td {
    display: block;
    max-width: 100%;
    box-sizing: border-box;
  }

  .commentavatar {
    padding: 10px 5px;
  }
}

/* Stops pie chart tooltip flickering */
svg > g > g:last-child {
  pointer-events: none
}

/* Style the tab */
.tab {
  overflow: hidden;
  margin-bottom: -1px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--embed-color);
  float: left;
  border-radius: 5px 5px 0px 0px;
  outline: none;
  cursor: pointer;
  padding: 10px 8px;
  color: var(--menu-link-color);
  font-size: 100%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border: 1px solid rgb(80, 80, 80);
}

.tab button:hover:not(.active) {
  color: var(--menu-link-hover-color);
  border-bottom: 1px solid var(--embed-color);
}

/* Create an active/current tablink class */
.tab button.active {
  color: var(--text-color);
  border: 1px solid var(--embed-color);
  border-bottom: 1px solid #1F1F1F;
  background-color: #1F1F1F;
}

/* Style the friends tab content */
.tabcontentfriendstab {
  display: none;
  padding: 2px 2px 25px;
  border: 1px solid var(--embed-color);
}

/* Style the global tab content */
.tabcontentglobaltab {
  display: none;
  padding: 2px 2px 25px;
  border: 1px solid var(--embed-color);
}

/* Style the high scores tab content */
.tabcontenthighscores {
  display: none;
  padding: 2px 2px 25px;
  border: 1px solid var(--embed-color);
}

/* Style the latest masters tab content */
.tabcontentlatestmasters {
  display: none;
  padding: 2px 2px 2px;
  border: 1px solid var(--embed-color);
}

/* Style the scores tab content */
.tabcontentscores {
  display: none;
  padding: 2px 2px 2px;
  border: 1px solid var(--embed-color);
}

.tabcontentscores td {
  padding: 2px 5px;
}

.tabcontentscores td.rank {
  width: 15%;
}

.tabcontentscores td.user {
  width: 55%;
}

.tabcontentscores td.lastaward, .tabcontentscores td.points {
  width: 30%;
}

.tabcontentscores td.user span:first-of-type {
  margin-right: 6px;
}

.tabcontentscores td.user span:nth-of-type(2) {
  display: inline-block;
  width: 0;
}

.tabcontentscores .rank {
  font-weight: bold;
}

.tabcontentscores .lastaward {
  font-size: 0.85em;
}

.ticket-block {
  display: inline-block;
  border: 1px #1166dd;
  border-radius: 5px;
  border-style: solid;
  min-height: 32px;
  padding-right: 5px;
}

.ticket-block.open {
  border-color: #28a745;
}

.ticket-block.closed {
  border-color: #dc3545;
}

.ticket-block .badgeimg {
  min-width: 32px;
  min-height: 32px;
  display: inline-block;
}

.ticket-block .ticket-displayable-block {
  display: inline-block;
  margin-left: 5px;
}

.ticket-tooltip-state {
  font-weight: bold;
  padding: 5px;
}

.ticket-tooltip-info {
  padding: 5px;
}

.ticket-tooltip-info.open .tooltip-closer,
.ticket-tooltip-info.closed .tooltip-opened-date {
  display: none;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

#active-players-filter-options {
  margin-top: 3px;
}

#active-players-menu-button::before {
  content: '☰';
}

#active-players-menu-button.menuOpen::before {
  content: '✕';
}

.blocker {
  z-index: 100;
}
.modal {
  background-color: var(--bg-color);
  z-index: 101;
}

.text-danger {
  color: red;
}

.ui-autocomplete {
  z-index: 30 !important;
}
