Options +FollowSymLinks

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine on
    RewriteBase /

    RewriteRule ^rss-news$ rss-news.xml.php [NC,L]
    RewriteRule ^rss-newachievements$ rss-newachievements.xml.php [NC,L]
    RewriteRule ^rss-activity$ rss-activity.xml.php [NC,L]
    RewriteRule ^rss-forum$ rss-forum.xml.php [NC,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # TODO remove as soon as all scripts in public/ have been refactored to controller actions/views
    RewriteRule ^(.*).php$ index.php [L]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
