.achievement-set.title {
    display: inline-block;
    margin-left: .1em;
}

/*
.tag.achievement-set.category {
    background-color: rgba(32, 32, 32, .8);
    color: white;
}

.game-category.demo {
    background-color: teal;
}

.game-category.hack {
    background-color: purple;
}

.game-category.homebrew {
    background-color: darkslateblue;
}

.game-category.prototype {
    background-color: dimgray;
}

.game-category.test-kit {
    background-color: steelblue;
}

.game-category.unlicensed {
    background-color: black;
}

.tag.achievement-set.subset {
    background-color: rgb(12, 12, 56);
    color: #ddd;
}

/* .game-category.subset.bonus {
    color: crimson;
}

.game-category.subset.multi {
    color: deepskyblue;
} */
