/* tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";

@import "reset.css";

/* base */
@import "layout.css";
@import "theme.css";
@import "typography.css";

/* TODO split */
@import "legacy.css";

/* components */
@import "background.css";
@import "badge.css";
@import "brand-top.css";
@import "breadcrumb.css";
@import "button.css";
@import "card.css";
@import "carousel.css";
@import "chart.css";
@import "embed.css";
@import "footer.css";
@import "form.css";
@import "icon.css";
@import "modal.css";
@import "nav.css";
@import "progress.css";
@import "rating.css";
@import "search.css";
@import "statistics.css";
@import "status-message.css";
@import "tab.css";
@import "tag.css";
@import "table.css";
@import "tooltip.css";

/* TODO split into components or replace with utility classes */
@import "award-count.css";
@import "comment.css";
@import "devbox.css";
@import "motto.css";
@import "news.css";
@import "ticket-manager.css";

/* utilities come last to allow for overrides */
@import "tailwindcss/utilities";

@import "utilities.css";
