.awardcounter {
  float: right;
  margin: 0 0.45em;
  font-size: 0.65em;
  cursor: help;
}

.awardcounter > * {
  vertical-align: middle;
}

.awardcounter > .icon {
  width: 25px;
  margin-right: 5px;
  text-align: center;
  font-size: 0.8em;
  color: rgb(210, 210, 210);
}
