.awardcounter {
  font-size: .65em;
  cursor: help;
}

.awardcounter > * {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.awardcounter > .icon {
  margin-right: .2em;
  width: 1.9em;
  text-align: center;
  font-size: .7em;
  font-family: emoji;
  color: rgb(210, 210, 210);
}
