.awardcounter {
  float: right;
  margin: 0 0.4em;
  font-size: 0.65em;
  cursor: help;
}

.awardcounter > * {
  vertical-align: middle;
}

.awardcounter > .icon {
  text-align: center;
  color: rgb(210, 210, 210);
  margin-right: 4px;
}

.component#siteawards .awardcounter > .icon {
  width: 22px;
}

.component:not(#siteawards) .awardcounter > .icon {
  width: 25px;
  font-size: 0.65em;
}
