.btn {
  background-color: var(--embed-color);
  /*color: var(--link-color);*/
  /*border: 1px solid var(--link-color);*/
  color: var(--link-color);
  border: 1px solid var(--embed-highlight-color);
  cursor: pointer;
  line-height: 1em;
  padding: 0.4em 0.6em;
  border-radius: 4px;
  display: inline-block;
  text-align: left;
  font-family: Verdana, Arial, sans-serif;
  font-size: small;
  white-space: nowrap;
}
.btn:hover {
  background-color: var(--embed-highlight-color);
  color: var(--link-hover-color);
  border: 1px solid var(--menu-link-color);
}
.btn:disabled,
.btn:disabled:hover {
  color: var(--text-color-muted);
  border: 1px solid var(--embed-color);
  cursor: not-allowed;
}

.btn-theme {
  color: var(--link-color);
  border-color: var(--link-color);
}
.btn-theme:hover {
  color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}

.btn-link {
  border: none;
  background: none;
}
.btn-link:hover {
  border: none;
  background: none;
}

.btn-warning {
  color: theme('colors.orange.500');
  border-color: theme('colors.orange.500');
}
[data-theme='orange'] .btn-warning {
  color: theme('colors.fuchsia.500');
  border-color: theme('colors.fuchsia.500');
}
[data-theme='orange'] .btn-warning:hover {
  color: var(--menu-link-hover-color);
  border: 1px solid var(--menu-link-color);
}

.btn-danger {
  color: theme('colors.red.500');
  border-color: theme('colors.red.500');
}
[data-theme='red'] .btn-danger {
  color: theme('colors.fuchsia.500');
  border-color: theme('colors.fuchsia.500');
}
[data-theme='red'] .btn-danger:hover {
  color: var(--menu-link-hover-color);
  border: 1px solid var(--menu-link-color);
}
