.usercardavatar {
  width: 128px;
  height: 128px;
}

.usercardusername {
  font-weight: bold;
  font-size: theme('fontSize.lg');
}

.usercardaccounttype {
  text-align: right;
  text-decoration: underline;
}
