.comment-textarea {
  padding: 4px;
  flex-grow: 1;
}

.comment-textarea::placeholder {
  font-size: 1.1em;
}

.comment {
  word-break: break-word;
}

.comment-submit-button {
  background: none;
  border: 1px solid transparent;
}

.comment-loading-indicator {
  display: none;
  padding: 6px;
}
