.console {
  display: flex;
  align-items: center;
  margin: .1em .05em;
  background: none;
}

.console.avatar {
  border-left: solid 2px #fff3;
}

.console > img {
  margin: 0 .5em;
}

.console > span {
  color: var(--menu-link-color);
}
