.console {
  display: flex;
  align-items: center;
  padding: 0 .2em;
  background: none;
  font-size: .8em;
}

.console.avatar {
  margin: 0 .1em;
  padding-left: .45em;
  border-left: solid 2px #fff3;
}

.console > img {
  padding: .3em;
}

.console:not(.avatar) > img {
  padding: .3em .15em;
}

.console > span {
  padding-left: .3em;
  color: var(--menu-link-color);
}
