.devbox {
  /* for rendering spoilers within shortcode */
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.devbox > span {
  cursor: pointer;
  display: block;
  @apply btn;
}

.devbox > div, .codetags, .devboxcontainer {
  border: 1px solid var(--text-color-muted);
  padding: 8px 12px;
  border-radius: 4px;
  /*
  for rendering code tag within shortcode
  and making sure that trailing submit buttons in devboxes do not overflow when floating on the right
  */
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.devbox > .spoiler {
  display: none;
  border-style: dashed;
  margin-top: 0;
}
