footer {
  background: var(--embed-color);
  color: var(--text-color-muted);
  padding: 25px 15px;
  line-height: 1.6;
}

footer a {
  color: var(--menu-link-color);
}

footer a:hover, footer a:active {
  color: var(--menu-link-hover-color);
}
