textarea, input, select {
  padding: 0.4em 0.6em;
  margin: 0;
  border: 1px solid var(--text-color-muted);
  border-radius: 4px;
  background: var(--embed-color);
  color: var(--menu-link-color);
  font-size: 13px;
  max-width: 100%;
  line-height: 1em;
}

input[readonly] {
  color: var(--text-color-muted);
}

input[disabled] {
  color: var(--text-color-muted);
}

input, optgroup, select, textarea {
  /*background: white;*/
  /*color: black;*/
}

[data-scheme=""] ::-webkit-calendar-picker-indicator, [data-scheme="black"] ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form-control {
  display: block;
  width: 100%;
}

.form-control:disabled, .form-control[readonly] {
  cursor: not-allowed;
}
