.game-title {
    display: inline-block;
    margin-left: .1em;
}

.game-title > .game-category {
    display: inline-block;
    opacity: .9;
    margin: 0 .15em;
    padding: .1em .4em;
    outline: solid .1em #555;
    border-radius: .4em;
    vertical-align: text-bottom;
    line-height: 1.1em;
    background-color: rgba(32, 32, 32, .8);
    color: white;
    font-size: .8em;
}

/* .game-category.demo {
    background-color: teal;
}

.game-category.hack {
    background-color: purple;
}

.game-category.homebrew {
    background-color: darkslateblue;
}

.game-category.prototype {
    background-color: dimgray;
}

.game-category.test-kit {
    background-color: steelblue;
}

.game-category.unlicensed {
    background-color: black;
} */

.game-category.subset {
    outline: solid .1em darkblue;
    border-radius: .2em;
    line-height: 1.3em;
    font-weight: bold;
    font-size: 0.7em;
    background-color: rgba(12, 12, 64, 0.8);
    color: #ddd;
}

/* .game-category.subset.bonus {
    color: crimson;
}

.game-category.subset.multi {
    color: deepskyblue;
} */
