:root {
  --footer-height-md: 320px;
  --footer-height-lg: 350px;
  --news-teaser-height: 200px;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  position: relative;
}

@media screen(md) {
  body.with-footer {
    padding-bottom: calc(var(--footer-height-md));
  }
}

@media screen(lg) {
  body.with-footer {
    padding-bottom: calc(var(--footer-height-lg));
  }
}

/*@media screen(md) {
  body.with-footer.with-news {
    padding-bottom: calc(var(--footer-height-md) + var(--news-teaser-height));
  }
}

@media screen(lg) {
  body.with-footer.with-news {
    padding-bottom: calc(var(--footer-height-lg) + var(--news-teaser-height));
  }
}*/

header {
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
  padding: 0;
  position: relative;
  min-height: 450px;
  display: grid;
  column-gap: 1rem;
}

main.with-sidebar {
  @apply grid-cols-[1fr,340px] xl:grid-cols-[1fr,380px];
}

@media only screen and (max-width: 1023px) {
  main {
    display: block;
  }
}

article {
  padding: 15px 20px;
  margin-bottom: 10px;
  border: 2px solid var(--embed-color);
  border-radius: 4px;
  align-self: start;
  background: var(--box-bg-color);
  background: linear-gradient(180deg, var(--box-bg-color) 0%, var(--bg-color) 100%);
  overflow: auto; /* 1 */
}

aside {
  padding: 15px 20px;
  margin-bottom: 10px;
  border: 2px solid var(--embed-color);
  border-radius: 4px;
  align-self: start;
  background: var(--box-bg-color);
  background: linear-gradient(0deg, var(--box-bg-color) 0%, var(--bg-color) 100%);
  overflow: auto; /* 1 */
}

section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

footer {
  padding-bottom: 30px;
  letter-spacing: 0.3px;
}

@media screen(md) {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--footer-height-md);
  }

  /*.with-news footer {
    height: var(--footer-height-md) + var(--news-teaser-height);
  }*/
}

@media screen(lg) {
  footer {
    height: var(--footer-height-lg);
  }

  /*.with-news footer {
    height: var(--footer-height-lg) + var(--news-teaser-height);
  }*/
}
