/* TODO replace with sections */
.component {
  overflow: hidden;
  margin-bottom: 1em;
}

.highlight {
  outline: 2px solid;
}

.TrueRatio {
  color: rgb(210, 210, 210);
}

.softcore {
  color: rgb(140,140,140);
}

.message-unread {
  font-weight: bold;
}

.inline-image {
  max-width: 100%;
  max-height: 300px;
}

/* TODO split below into components or replace with utility classes */

.embedded {
  padding: 6px 10px;
  border-radius: 4px;
  background: var(--embed-color);
}

#usercompletedgamescomponent {
  max-height: 30.0em;
  overflow-y: auto;
  overflow-x: hidden;
}

#devstatsscrollpane {
  max-height: 25.0em;
  overflow-y: auto;
}

.sortbyselector {
  padding: 1em 0;
}

.achievemententryicon {
  float: left;
  padding: 0 4px;
}

.ui-autocomplete {
  z-index: 30 !important;
}
