.mottocontainer {
  padding: 8px 0;
}

.usermotto {
  border-radius: 4px;
  background: var(--bg-color);
  color: var(--text-color);
  font-style: italic;
  padding: 4px 8px;
  display: inline-block;
}
