.mottocontainer {
  padding: 8px 0;
}

.usermotto {
  border-radius: 6px;
  background: rgb(245, 245, 245);
  color: rgb(20, 20, 20);
  font-style: italic;
  padding: 4px 8px;
  display: inline-block;
}
