.nav-item {
  position: relative;
  line-height: 20px;
  height: 42px; /* Only for main menu elements for mobile to make tap space */
}

.nav-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--menu-link-color);
  height: 42px;
  border-bottom: 0;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link-themed {
  color: var(--link-color);
}
.nav-link-themed:hover {
  color: var(--link-hover-color);
}

.nav-item:hover > .nav-link {
  color: var(--menu-link-color);
  background-color: var(--embed-highlight-color);
  position: relative;
}

/* TODO what is this for? */
.dropdown-menu > ul {
  display: none;
}
