span.news {
  padding: 6px 10px 10px;
  /*border-radius: 8px; */
  /*background-color: rgb(22,22,22);*/
  text-align: justify;
  line-height: 1.35em;
  font-size: small;
  display: block;
}

.newsimage {
  float: right;
  /*display: block;*/
  padding-left: 10px;
}

.newsauthor {
  float: right;
  display: block;
  clear: both;
  text-align: right;
}

.newstext {
  /*color: #59f;*/
  color: rgb(238, 238, 255);
}

.shadowoutline {
  text-shadow: 2px 2px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000;
}
