.awards-fade::before,
.awards-fade::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 120px;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.awards-fade::before {
  top: 0;
  background: linear-gradient(to top, transparent, #1b1b1b);
}

.awards-fade::after {
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #1b1b1b);
}

.awards-fade.fade-hidden-top::before,
.awards-fade.fade-hidden-bottom::after {
  opacity: 0;
}

/* FIXME: go to another file or rename this file */