.progressbar {
  overflow: hidden;
  height: 6px;
  border: 1px solid var(--embed-highlight-color);
  border-radius: 0.5em 0 0 0.5em;
  border-right: 0 none;
  background-color: var(--embed-color);
}

.achievementlist .progressbar {
  border-radius: 0.5em;
  border-right: 1px solid var(--embed-highlight-color);
}

.completion {
  height: 6px;
  width: inherit;
  background-color: rgb(11, 113, 193);
}

.completion-hardcore {
  height: 6px;
  width: inherit;
  background-color: rgb(204, 153, 0);
  border-top: 0 solid;
}

.completion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border: solid 2px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 1em;
}

.completion-icon.tooltip {
  cursor: help;
}

.completion-icon.mastered {
  border-color: rgb(204, 153, 0);
  background-color: #606;
}

.completion-icon.completed {
  border-color: rgb(11, 113, 193);
  background-color: #083171;
}

.completion-icon:not(.mastered):not(.completed) {
  border-color: var(--embed-highlight-color);
  background-color: var(--embed-color);
}
