.progress {
  width: 104px;
}

.progressbar {
  position: relative;
  height: 6px;
  width: 124px;
  background-color: var(--embed-color);
  border: 1px solid var(--embed-highlight-color);
  border-radius: 2px;
  overflow: hidden;
}

.progressbar-label {
  margin-top: .3em;
  text-align: center;
  font-size: 0.9em;
}

.completion {
  height: 6px;
  width: inherit;
  background-color: rgb(11, 113, 193);
}

.completion-hardcore {
  height: 6px;
  width: inherit;
  background-color: rgb(204, 153, 0);
  border-top: 0 solid;
}

.completion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin: .2em;
  height: 2.1em;
  width: 2.1em;
  border-radius: 50%;
  font-size: .6em;
  font-family: emoji;
  color: deepskyblue;
  cursor: help;
}

.completion-icon.active {
  background-color: rgba(128, 128, 128, 0.2);
}

.progressbar.player {
  width: inherit;
}

.progressbar.global {
  width: 160px;
  font-size: smaller;
  line-height: 1.2em;
}

.progressbar.global .completion {
  width: inherit;
  background-color: rgb(11, 113, 193);
}

.progressbar.global .completion-hardcore {
  height: 4px;
  width: inherit;
}
