div.rating {
  cursor: pointer;
  display: block;
  float: left;
  clear: left;
}

div.rating a {
  background: url('images/icon/star-empty.png') no-repeat 0 0;
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
}

div.rating a.starhalf {
  background: url('images/icon/star-half.png') no-repeat 0 0;
}

div.rating a.starlit {
  background: url('images/icon/star-full.png') no-repeat 0 0;
}
