.searchbox {
  float: right;
  padding: 10px;
}

.searchbox.longer {
  width: 100%;
  float: inherit;
}

.searchbox-top {
  height: 30px;
  background-color: var(--embed-color);
  border: 1px solid var(--divider-color);
  border-radius: 4px;
  padding: 6px 0 6px 0;
  align-items: center;
  margin-right: 10px;
}

.searchbox-top .searchboxinput {
  border: none;
  background-color: transparent;
  vertical-align: top;
  color: inherit;
  width: 70px;
  padding-left: 10px;
  transition: width 0.2s;
}

.searchbox-top .searchboxinput:focus,
.searchbox-top .searchboxinput:not(:placeholder-shown) {
  width: 190px;
  padding-left: 10px;
}

@media only screen and (max-width: 374px) {
  .searchbox-top .searchboxinput:focus,
  .searchbox-top .searchboxinput:not(:placeholder-shown) {
    width: 80px;
    padding-left: 5px;
  }
}

@media only screen and (min-width: 375px) and (max-width: theme('screens.sm')) {
  .searchbox-top .searchboxinput:focus,
  .searchbox-top .searchboxinput:not(:placeholder-shown) {
    width: 130px;
  }
}
