.searchbox {
  float: right;
  padding: 10px;
}

.searchbox.longer {
  width: 100%;
  float: inherit;
}

.searchbox-top {
  background-color: var(--embed-color);
  border-radius: 4px;
}

.searchbox-top .searchboxinput {
  border: none;
  background-color: transparent;
  vertical-align: top;
  color: inherit;
  width: 60px;
  padding-left: 0;
  margin-right: 2px;
}

.searchbox-top .searchboxinput:focus {
  width: 190px;
  padding-left: 10px;
}

@media only screen and (max-width: 375px) {
  .searchbox-top .searchboxinput:focus {
    width: 150px;
    padding-left: 10px;
  }
}
