.searchbox {
  float: right;
  padding: 10px;
}

.searchbox.longer {
  width: 100%;
  float: inherit;
}

.searchbox-top {
  height: 22px;
  background-color: var(--embed-highlight-color);
  border: 1px solid var(--divider-color);
  border-radius: 15px;
  padding: 12px 0 12px 15px;
  align-items: center;
  margin-right: 10px;
}

.searchbox-top .searchboxinput {
  border: none;
  background-color: transparent;
  vertical-align: top;
  color: inherit;
  width: 60px;
  padding-left: 0;
  transition: width 0.2s;
}

.searchbox-top .searchboxinput:focus {
  width: 190px;
  padding-left: 10px;
}

@media only screen and (max-width: 374px) {
  .searchbox-top .searchboxinput:focus {
    width: 80px;
    padding-left: 5px;
  }
}

@media only screen and (min-width: 375px) and (max-width: theme('screens.sm')) {
  .searchbox-top .searchboxinput:focus {
    width: 130px;
  }
}
