table {
  font-size: inherit;
}

tbody tr {
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 0.05s;
}

tbody tr:nth-child(odd) {
  background-color: rgba(50, 50, 50, 0.3);
}

[data-scheme='light'] tbody tr:nth-child(odd) {
  background-color: rgba(80, 80, 80, 0.09);
}

table.table-highlight tr:not(.do-not-highlight):hover {
  outline-color: rgba(128, 128, 128, 0.3);
  background-color: rgba(128, 128, 128, 0.2);
}

[data-scheme='light'] table.table-highlight tr:not(.do-not-highlight):hover {
  outline-color: rgba(128, 128, 128, 0.4);
  background-color: rgba(128, 128, 128, 0.22);
}

td {
  padding: 4px 8px;
}

td.smaller {
  font-size: 0.9em;
}

th {
  font-weight: inherit;
  padding: 8px 8px;
  color: var(--menu-link-color);
  margin-bottom: 5px;
  text-align: left;
}

table.condensed td {
  padding: 2px 1px;
}

table.condensed th {
  padding: 2px 1px;
}

table.condensed select {
  padding: 2px 1px;
}
table.condensed input {
  padding: 2px 1px;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}
