.tag {
  display: inline-flex;
  align-items: center;
  opacity: 0.9;
  margin: 0 .15em;
  padding: 0 .45em;
  border-radius: .2em;
  background-color: currentColor;
  vertical-align: text-bottom;
  line-height: 1.1em;
  font-size: .8em;
  /* border: 1px solid var(--embed-highlight-color); */
}

.tag .label {
  margin-left: -.45em;
  padding: .15em .3em .15em .45em;
  border-radius: .2em 0 0 .2em;
  background-color: rgba(255, 255, 255, 0.35);
  color: var(--embed-color);
}

.tag .arrow-right {
  width: 0;
  height: 0;
  border: solid .7em transparent;
  border-left-color: rgba(255, 255, 255, 0.35);
  border-right-width: 0;
}

.tag .inner {
  padding: .15em 0;
  color: var(--embed-color);
}

.tag .label ~ .inner {
  margin-left: .2em;
}
