.tag {
  display: inline-block;
  opacity: .9;
  margin: 0 .15em;
  padding: .1em .4em;
  border-radius: .2em;
  vertical-align: text-bottom;
  line-height: 1.1em;
  font-size: .8em;
  background: currentColor;
  border: 1px solid var(--embed-highlight-color);
}

.tag .inner {
  color: var(--embed-color);
}
