.tag {
  display: inline-flex;
  align-items: center;
  opacity: 0.9;
  margin: 0 .1em;
  border-radius: .2em;
  background-color: currentColor;
  vertical-align: text-bottom;
  line-height: 1.1em;
  font-size: .8em;
  overflow: hidden;
}

.tag > * {
  color: var(--bg-color);
  padding: .15em .45em;
}

.tag img {
  margin-left: -.05em;
  height: .8em;
  padding: 0 .45em 0 0;
  filter: drop-shadow(0 0 .12em black);
}

.tag-label {
  background-color: rgba(255, 255, 255, 0.5);
  padding-right: .2em;
}

.tag-arrow {
  width: 0;
  height: 0;
  padding: 0;
  margin-right: -.2em;
  border: solid .7em transparent;
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-width: 0;
}

.tag.missable {
  opacity: .8;
}

.tag.missable abbr {
  padding: .14em .15em .16em;
  font-weight: normal;
  color: currentColor;
}

.tag.missable abbr b, a:hover .tag.missable abbr {
  color: var(--bg-color);
}
