.ticket-avatar {
  display: inline-block;
  border: 1px solid #1166dd;
  border-radius: 4px;
  min-height: 32px;
  padding-right: 5px;
}

.ticket-avatar.open {
  border-color: #28a745;
}

.ticket-avatar.closed {
  border-color: #dc3545;
}

.ticket-avatar .badgeimg {
  min-width: 32px;
  min-height: 32px;
  display: inline-block;
}

.ticket-tooltip-state {
  font-weight: bold;
  padding: 5px;
}

.ticket-tooltip-info {
  padding: 5px;
}

.ticket-tooltip-info.open .tooltip-closer,
.ticket-tooltip-info.closed .tooltip-opened-date {
  display: none;
}
