#WzTtDiV {
  width: auto !important;
}

#WzBoDy {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  width: auto !important;
}

#WzBoDyI {
  font-size: inherit;
}

.tooltip-body tr {
  background: none !important;
}

.tooltip-body td {
  padding: 2px;
  color: var(--menu-link-color);
}

.tooltip-body {
  background: var(--box-bg-color);
  color: var(--menu-link-color);
  border-radius: 4px !important;
  border: 1px solid var(--embed-highlight-color);
  line-height: theme('fontSize.base') !important;
}
