#WzTtDiV {
  width: auto !important;
  box-shadow: var(--box-shadow-color) 0 30px 60px -12px, var(--box-shadow-color) 0px 18px 36px -18px;
}

#WzBoDy {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  width: auto !important;
}

#WzBoDyI {
  font-size: inherit;
}

.tooltip-body tr {
  background: none !important;
}

.tooltip-body td {
  padding: 2px;
  color: var(--menu-link-color);
}

.tooltip-body {
  background: var(--box-bg-color);
  color: var(--menu-link-color);
  border-radius: 4px !important;
  border: 1px solid var(--embed-highlight-color);
  line-height: theme('fontSize.base') !important;
}
