body {
  font-family: Verdana, Arial, sans-serif;
  font-size: small;
  font-weight: normal;
  letter-spacing: 0;
}

h1, h2, h3, h4, .text-h1, .text-h2, .text-h3, .text-h4 {
  font-weight: normal;
  line-height: 1.25em;
  margin-bottom: 10px;
  padding: 0 0 3px;
}

h1, h2, .text-h1, .text-h2 {
  font-size: 2.0em;
}

h3, .text-h3 {
  font-size: 1.75em;
}

h4, .text-h4 {
  font-size: 1.5em;
}

pre, code, .code {
  font-family: monospace;
  font-size: medium;
  word-break: break-word;
  white-space: pre-wrap;
}

abbr {
  cursor: help;
}

.text-overflow-wrap {
  overflow-wrap: anywhere;
  word-break: normal;
}

.text-color {
  color: var(--text-color);
}
