@layer components {
  input {
    @apply placeholder:text-neutral-600 placeholder:light:text-neutral-400/50;
  }

  .container {
    @apply sm:max-w-[theme('screens.lg')] xl:max-w-[theme('screens.xl')];
  }
}

@layer utilities {
  ul.highlighted-list li {
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: all 0.05s;
  }

  ul.highlighted-list li:nth-child(odd) {
    background-color: rgba(50, 50, 50, 0.3);
  }

  [data-scheme='light'] ul.highlighted-list li:nth-child(odd),
  [data-scheme='system'] ul.highlighted-list li:nth-child(odd) {
      background-color: rgba(80, 80, 80, 0.09);
  }
  
  ul.highlighted-list li:not(.do-not-highlight):hover {
      outline-color: rgba(128, 128, 128, 0.3);
      background-color: rgba(128, 128, 128, 0.2);
  }
  
  [data-scheme='light'] ul.highlighted-list li:not(.do-not-highlight):hover,
  [data-scheme='system'] ul.highlighted-list li:not(.do-not-highlight):hover {
      outline-color: rgba(128, 128, 128, 0.4);
      background-color: rgba(128, 128, 128, 0.22);
  }
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/** Properly show the red background on barryvdh/laravel-debugbar query timing measurements. **/
div.phpdebugbar-widgets-sqlqueries div.phpdebugbar-widgets-bg-measure div.phpdebugbar-widgets-value {
  height: 100% !important;
  opacity: 0.2 !important;
  background: red !important;
}

.bg-body {
  background-color: var(--bg-color);
}

.bg-embedded {
  background-color: var(--embed-color);
}

.bg-box {
  background-color: var(--box-bg-color);
}

.text-muted {
  color: var(--text-color-muted);
}

.text-danger {
  color: var(--text-color-danger);
}

.smalltext {
  font-size: x-small;
  color: rgb(140, 140, 140);
  line-height: 1.05em;
}

.smalldate {
  font-size: x-small;
  color: rgb(140, 140, 140);
  line-height: 1.1em;
  min-width: 87px;
}

.text-shadow {
  text-shadow: 2px 2px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000;
}

span.smalldate {
  display: inline-block;
}

/* @see https://alpinejs.dev/directives/cloak */
[x-cloak] {
  display: none !important;
}
