#carouselcontainer {
	width: 100%;
	position: relative;
	margin: 0 auto;
	height: 270px;
	border-radius: 8px;
	background-color: rgb(22,22,22);
}

#carousel {
	width: 95%;
	margin: 0 auto;
}

#ui-carousel-next, #ui-carousel-prev {
	width: 60px;
	height: 240px;
	background: url('/Images/arrow-left.png') center center no-repeat;
	display: block;
	position: absolute;
	top: 0;
	z-index: 100;
}

#ui-carousel-next {
	right: 0;
	background-image: url('/Images/arrow-right.png');
}

#ui-carousel-prev {
	left: 0;
}

#ui-carousel-next > span, #ui-carousel-prev > span {
	display: none;
}

.slide {
	margin: 0;
	position: relative;
}

.slide  h1 {
	font: 72px/1 Anton, sans-serif;
	color: #ff5c43;
	margin: 0;
	padding: 0;
}

.slide  p {
	font: 32px/1 Ubuntu, sans-serif;	
	color: #4d4d4d;
	margin: 0;
	padding: 0;
}

#carouselpages {
	width: 240px;/*auto;*/
	margin: 0 auto;
	padding-top: 5px;
}
	
.bullet {
	background: url('/Images/page-off.png') center center no-repeat;
	display: block;
	width: 18px;
	height: 18px;
	margin: 0;
	margin-right: 5px;
	float: left;				
}
